ul {
    list-style-type: none;
    padding: 0;

  }
  
  .menu ul {
    
    margin: 0;
    
  }
  
  .menu li {
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 1.75em;
    line-height: 40px;
    height: 40px;

  }
  a {
    color: #ddd;
    text-decoration: none;
    filter: grayscale(50%);
  }
  a:hover{
    color: orange;
    filter: grayscale(0%);
  }

  .navLink {
    color: '#fff';
  }
  .navLink:hover {
    color :"#00ff00";
  }


  