ul {
    list-style-type: none;
    padding: 0;

  }
  
  .menu ul {
    
    margin: 0;
    
  }
  
  .menu li {
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 1.75em;
    line-height: 40px;
    height: 40px;

  }
  a {
    color: #ddd;
    text-decoration: none;
    filter: grayscale(50%);
  }
  a:hover{
    color: orange;
    filter: grayscale(0%);
  }

  .navLink {
    color: '#fff';
  }
  .navLink:hover {
    color :"#00ff00";
  }
  tr {
    background: rgba(10,10,10, .4);
    user-select: none;
  }
  tr:hover {
    background: #222;
    cursor: pointer;
}

::-webkit-scrollbar {display:none;}

 .selectAssetButton {
  border: 1px solid rgba(1,1,1,0.5);
  }
 .selectAssetButton:hover {
   font-weight: bold;

   cursor: pointer;
   border: 2px solid rgba(1,1,1,0.5);
 }

 .xButton{
  color: rgba(150,150,150,0.5);
 }
 .xButton:hover{
   color: rgba(150,150,150,1);
   cursor: pointer;
   font-weight: 1800;
 }
  /* tr:nth-child(even) {background: #555}
  tr:nth-child(odd) {background: #333} */

  